.container
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    justify-content: center;
    
    background-color: white;
    width: 25%;
    height: auto;
  
    padding: 100px;
    border-radius: 20px;
}
.container h1
{
    color: black;
    font-size: 2.5rem;
    margin-bottom: 25px;

}
body
{
    background-color: #f8cdda;
    background-image: linear-gradient(to right, #1e2698, hsl(262, 52%, 35%));
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checked {
        text-decoration: line-through;
        color: gray;
}
.list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    list-style-type: none;
}
.container input[type="text"] {
  border-radius: 10px; 
  padding: 8px; 
  width: 250px;
  border: 1px solid #ccc; 
  margin-right: 0;
}
.list
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list li input[type="checkbox"] {
    appearance: none;
  -webkit-appearance: none; /* Safari/Chrome */
  -moz-appearance: none; /* Firefox */
    margin-right: 10px;
    border: 3px solid #ccc;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
}.list li input[type="checkbox"]:hover {
    appearance: none;
  -webkit-appearance: none; /* Safari/Chrome */
  -moz-appearance: none; /* Firefox */
    margin-right: 10px;
    border: 3px solid #4CAF50;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
}
.remove-btn {
  all: unset !important;       
  cursor: pointer !important;  
  background: none !important; 
  color: #7b7878 !important;   
    font-weight: bold !important; 
  font-size: 25px !important;  

  padding: 5px 5px !important;
  margin: 0 5px !important;
}

.remove-btn:hover {
  color: #982121 !important;  
}
.add-btn {
   
 

  background: #4CAF50 ; 

  color: rgb(253, 248, 248);     
  font-weight: bold; 
  font-size: 13px;
  border: none;
  padding: 9px 20px;
  border-radius: 10px; 
  margin-left: 0;
}

.add-btn:hover {
  background: #53c358; 
}
